// -------------------------------------------
//   Global variables
// -------------------------------------------

// Measures
$banner-height: 50px;

// Colors

$main-bg-color: #373D49;

$main-border-color: #E8E8E8;

$secondary-text-color: #A0AABF;