// -------------------------------------------
//   Global variables
// -------------------------------------------

// Measures
$banner-height: 50px;

// Colors

$main-bg-color: #212433;

$main-border-color: #E8E8E8;