// -------------------------------------------
//   Banner
// -------------------------------------------

[role="banner"] {
  background-color: $main-bg-color;
  height: $banner-height;

  .banner-title {
    color: white;
  }
}